attr==0.3.2
beautifulsoup4==4.12.3
libfmp==1.2.5
librosa==0.10.1
Markdown==3.7
matplotlib==3.7.4
music21==9.1.0
ms3==2.5.3
numpy==1.26.4
pandas==1.5.3
git+https://github.com/measure-map/pyMeasureMap.git#egg=pyMeasureMap
PyYAML==6.0.1
Requests==2.32.3
ruptures==1.1.9
scipy==1.14.1
synctoolbox==1.3.2